html,
body {
    color: #333;
    height: 100%;
    font: 14px/22px Arial,"Hiragino Sans GB","微软雅黑","宋体";
    word-wrap: break-word;
}
a {
	text-decoration: none;
}
.container::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}

#header {
    background: #fff none repeat scroll 0 0;
    min-width: 1024px;
}
.header_top {
    background: #f9f9f9 none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    height: 35px;
    width: 100%;
}
.header_top a:hover {
	color: #f25618;
}
.header_top_center {
    height: 35px;
    margin: 0 auto;
    width: 1024px;
}
.header_top_right, .header_top_left {
	line-height: 35px;
}
.header_top_right {
    display: inline;
    float: right;
    height: 35px;
}
.header_top_right a, .header_top_right em {
    padding: 0 12px;
}
.header_top_right a, .header_top_right span, .header_top_right em {
    color: #999;
    display: inline;
    float: left;
}
.header_top_right .htr_line {
    background-color: #eee;
    height: 12px;
    margin-top: 11px;
    overflow: hidden;
    width: 1px;
}
.header_top_left .fa {
	color: #01af63;
}
.header_top_left span {
	color: #999;
    font-weight: bold;
}

.header_wrapper {
	width: 1024px;
	height: 100px;
	margin: 0 auto;
}
.header_wrapper .logo_layout {
    float: left;
    height: 65px;
    width: 200px;
    margin-right: 40px;
    margin-top: 28px;
}




























.footer {
    background: url('../images/zyw_bg.png') repeat-x scroll 0 -1000px;
    color: #999;
    font-size: 12px;
    text-align: center;
}
.footer .container {
    border-top: 3px solid #f60;
    margin-top: -3px;
    padding: 8px 0;
    z-index: 9;
}
.footer .f_link {
    color: #ccc;
    margin-bottom: 5px;
}
.footer a {
    color: #777;
    margin: auto 3px;
}
