.breadcrumb {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
}
.breadcrumb li {
    display: inline;
    float: left;
}
.breadcrumb li .jian {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}
.breadcrumb li a {
    color: #999;
}
.breadcrumb li a:hover {
    color: #f25618;
}
.breadcrumb li.active {
    color: #333;
}
.content .side {
    float: left;
    width: 240px;
}
.content .main {
    float: right;
    width: 760px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn_yuyue {
    background: #33c182;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    width: 240px;
    text-align: center;
}
.btn_yuyue:hover {
    background: #018d50 none repeat scroll 0 0;
    color: #fff;
}
.btn_liuyan {
    background-color: #fff;
    border: 1px solid #33c182;
    color: #33c182;
    display: block;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 20px;
    width: 238px;
    text-align: center;
}
.btn_liuyan:hover {
    border-color: #018d50;
    color: #018d50;
}

/* 侧边栏通用部分 */
.side_box {
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
    padding: 15px;
    width: 208px;
}
.side_box .box_title {
    color: #333;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
}
.side_box .box_content {
    border-top: 1px solid #e8e8e8;
    padding-left: 6px;
    padding-top: 10px;
}
.side_box ul {
	margin: 0;
	padding: 0;
	margin-left: -15px;
	margin-right: -15px;
}
.side_box .list_i {
	background: url(../images/icon.png) no-repeat scroll -34px -17px;
    display: inline-block;
    vertical-align: middle;
    display: inline-block;
    height: 4px;
    vertical-align: middle;
    width: 4px;
}
.side_box ul a {
	color: #333;
}
.side_box ul a:hover {
	color: #f25618;
}


/* 侧边栏 ,单页面 */
#side-page .box_content {
	margin: 0;
	padding: 0;
}
#side-page .box_content ul li {
	margin: 0;
	padding: 0;
}
#side-page .box_content ul {
	margin-top: 10px;
}
#side-page .box_content ul a {
	display: block;
	height: 32px;
	line-height: 32px;
	padding-left: 15px;
}
#side-page .box_content ul li.on a, #side-page .box_content ul li a:hover {
	background: #e8e8e8;
	color: #f25618;
}

/* 侧边栏 ,文章 图片 */
.side_box .box_content ul li {
    line-height: 16px;
    padding-left: 12px;
    padding-top: 10px;
    white-space: nowrap;
}
.side_box .box_content ul li a {
	padding-left: 5px;
}

/* 侧边栏 ,图片 */















